body{
    background-color: rgb(246, 209, 117);
    
}
.sidebar{
    float : left ;
    
    background-color: rgb(235, 168, 11);
    width: 220px;
    height: 330px;
    text-align: center;
    font-size: 16px;
    margin-left: 20px;
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    box-sizing: border-box;
    padding-top: 1px;
}
.mainbar{
   box-sizing: border-box;
   
    height: 330px;
    padding: 30px;
    background-color: white;
    padding-left: 240px;
    font-size: 18px;
    padding-top : 20px;
    
    margin-left: 50px;
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
}
.smile{
    font-size: 30px;
}